.agregarTelo {
  cursor: pointer;
}
.agregarTelo:hover {
  fill: red;
}

.DialogOverlay {
  overflow-y: auto;
}

.DialogContent {
  top: 0;
  transform: translateX(-50%) translateY(0%);
  max-width: 50rem;
}
